<style type="text/css">
    .project-preview-section {
        margin-bottom: 295px;
        width: 100%;
        max-width: 1252px;
    }

    .logo-container {
        padding: 0 16px;
    }

    .project-logo {
        height: 76px;
    }

    .project-title {
        font-size: 31px;
        font-weight: 600;
    }

    .view-project {
        padding: 9px 38px;
        font-size: 18px;
    }

    .project-preview-img {
        height: 239px;
    }

    .right {
        position: absolute;
        z-index: 10;
        right: 4px;
        top: 52%;
        height: 136px;
    }

    .left {
        position: absolute;
        z-index: 10;
        left: 4px;
        top: 52%;
        transform: rotate(180deg);
        height: 136px;

    }
</style>